body {
  margin: 0;
}


.main {
  display: inline;
}

.sidebar1 {
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: 100%;
  position: relative;
  background: rgb(238, 48, 24);
  background: linear-gradient(90deg,
      rgba(238, 48, 24, 1) 0%,
      rgba(213, 32, 71, 1) 35%);
  margin-right: 0px;
}

.information {
  display: flex;
  align-content: center;
  justify-content: center;
}

.Title1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 20px;
  color: white;
  margin-right: 81px;
  margin-top: 122px;
  line-height: 43px;

}

.Text1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: white;
  margin-right: 81px;
  margin-top: 24px;
}

.icon1 li {
  display: inline-flex;
  margin-top: 42px;
}

.playstore {
  margin-right: 28px;

}

.appstore {
  margin-right: 28px;
}

.people {
  max-width: 533px;
  width: 100%;
  margin-top: 94px;
  margin-bottom: 94px;
}


.sidebar2 {
  display: flex;
  align-content: center;
  justify-content: space-around;
  min-width: 100%;
  margin-left: 0px;

}

.information2 {
  display: flex;
  align-content: space-between;
  justify-content: center;
  margin-top: 117px;
}

.Title2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 20px;
  color: black;
  padding: 96px;

}

.Text2 {
  font-family: 'Lato';
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  position: relative;
}

.Form {
  max-width: 320px;
  padding: 15px;
  margin: 20px auto;
  background-color: #fff;
}


#input1 {
  font-family: 'Lato';
  display: block;

  border-radius: 6px;

}

#input2 {
  font-family: 'Lato';
  display: block;
  box-sizing: border-box;
  border-radius: 6px;
}

#input3 {
  font-family: 'Lato';
  display: block;
  width: 34.7%;
  padding: 8px 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}


#Service {
  font-family: 'Lato';
  position: relative;
  display: block;
  width: 36.5%;
  padding: 8px 10px;
  margin-bottom: 10px;
}


#btn {

  font-family: 'Lato';
  display: inline-block;
  font-size: 11px;
  color: white;
  padding: 0.8em 3.2em;
  border: 1.5px solid #ED4C5C;
  border-radius: 4px;
  background: #ED4C5C;
  margin-top: 10px;
  box-sizing: border-box;
  width: 160px;
  height: 50px;



}



/*

.sidebar3 {
  background: rgba(243, 239, 239, 0.322);
  padding: 60px 40px;
  margin-top: 50px;
}

.services {
  margin-left: 20px;
}

.Services {
  font-family: 'Lato';
  display: inline;
  margin-right: 3px;
  padding: 5px;
}

#services_title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: black;
  margin: 80px;
  margin-left: 500px;
  margin-top: -205px;
}

#li1 {
  list-style-type: none;
}

#li2 {
  list-style-type: none;
}

#li3 {
  list-style-type: none;
}

#li4 {
  list-style-type: none;
}

.services {
  font-family: 'Lato';
  font-style: normal;
  line-height: 20px;
  color: black;
  margin: 80px;
  margin-left: 460px;
  margin-top: -70px;
}

#tel_title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: black;
  margin: 80px;
  margin-left: 850px;
  margin-top: -196px;
}

#li5 {
  list-style-type: none;
}

#li6 {
  list-style-type: none;
}

.tel {
  font-family: 'Lato';
  font-style: normal;
  line-height: 30px;
  color: black;
  margin: 80px;
  margin-left: 850px;
  margin-top: -76px;
}

#support {
  font-family: 'Lato';
  font-style: normal;
  line-height: 30px;
  color: black;
  margin: 80px;
  margin-left: 1150px;
  margin-top: -200px;
}

#Address_title {
  font-family: 'Lato';
  font-style: normal;
  line-height: 30px;
  font-weight: bold;
  color: black;
  margin: 80px;
  margin-left: 30px;
  margin-top: -40px;
}

.Address {
  font-family: 'Lato';
  font-style: normal;
  line-height: 30px;
  color: black;
  margin: 80px;
  margin-left: 30px;
  margin-top: -70px;
}